<li id = "comment-<%= comment._id %>">

    <p id = "comment-delete-btn">
        <% if (locals.user && locals.user.id==comment.user.id) { %>
            <small>
                <a class = 'delete-comment-button' href="/comments/destroy/<%= comment.id %>">Delete</a>
            </small>
            <% } %>
    </p>

    <p id = "comment-details">
        <%= comment.content %>
        <br>
        <small>
            <%= comment.user.name %>
        </small>
    </p>
    

</li>