<!-- contains the body or the variable part of the webpage layout -->

<link rel="stylesheet" href="/css/user_profile.css">

<h1> Codeial / Profile Page </h1>

<!-- <p>
 accesing the user name and email from profile action in userController
    Name : <%= user.name %>
</p>
<p>
    Email : <%= user.email %>
</p> -->
