<form action="">

    <input type="email" name = "email" placeholder="Enetr email" id = "email" required>
    <input type="password" name = "password" placeholder="Enter Password" id = "password" required>
    <input type="text" name = "name" id = "name" placeholder="Enter your Name" required>

</form>