
    
<form action="">

    <input type="email" name = "email" placeholder="Enter email" id = "email" required>
    <input type="password" name = "password" placeholder="Enter Password" id = "password" required>

</form>

