#layout-footer{
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: #2b252c;
    padding: 5px 10px;
    color: white;
    a{
        color: white;
        text-decoration: none;
        transition: all 250ms ease-in-out;
        &:hover{
            color: rgb(189, 183, 183);
        }
    }

    .footer-nav{
        ul{
            display: flex;
            list-style: none;
            li{
                margin-left: 20px;
            }
        }
    
    }
}